{% trans_default_domain 'drom-board.admin' %}

<div>

    <div class="d-flex ps-2 p-1 mb-1 fw-bold">
        <div class="w-50 ">

            <span>
                Свойство в объявлении на Drom
            </span>

        </div>

        <div class="w-25 text-center">
            <span class="pe-2">
                Свойство в продукте
            </span>

            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16" height="16"
                 fill="currentColor"
                 class="align-self-center text-muted me-2" viewBox="0 0 16 16"
                 role="tooltip"
                 data-bs-toggle="tooltip"
                 data-bs-placement="bottom"
                 data-bs-original-title="Значение из свойств у каждого продукта">

                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
            </svg>

        </div>
        <div class="w-25 text-center">

            <span class="pe-2">
                Значение по умолчанию
            </span>

            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16" height="16"
                 fill="currentColor"
                 class="align-self-center text-muted me-2" viewBox="0 0 16 16"
                 role="tooltip"
                 data-bs-toggle="tooltip"
                 data-bs-placement="bottom"
                 data-bs-original-title="Указанное значение. Применяется ко всем продуктам категории">

                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
            </svg>

        </div>
    </div>

    {% for element in form.mapperElements %}

        <div class="d-flex p-3 mb-1 gap-2 align-items-end rounded-3 border"
             style='background-color: {{ element.vars.data.elementInstance.isMapping ?:'#fff2f2' }}'>

            {% if element.productField is defined %}

                <div class="w-50">

                    {{ form_label(element.productField) }}

                    {% if element.vars.data.elementInstance.isMapping == false %}
                        <br>
                        <div class="badge bg-danger">не активно</div>
                    {% endif %}

                </div>

                <div class="w-25 d-flex mb-1 gap-2 align-items-end rounded-3">
                    {{ form_widget(element.productField, {
                        placeholder: 'Выберите свойство продукта...',
                        attr: { 'data-select' : 'select2', class:  'mb-0'}
                    }) }}
                </div>

            {% endif %}

            {% if element.def is defined %}

                <div class="w-25 d-flex justify-content-center mb-1 gap-2 align-self-center rounded-3">
                    <span class="text-muted">
                        {{ element.def.vars.data }}
                    </span>
                </div>

            {% endif %}
        </div>
    {% endfor %}

</div>

